*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(241, 241, 241);
}

nav{
    display: flex;
    align-items: center;
    justify-content: left;
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: white;
}

nav h1{
    font-size: 30px;
    font-weight: 600;
    margin-left: 200px;
}

dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    height: 450px;
    width: 300px;
    border: none;
    border-radius: 25px;
}

dialog .closeBtn{
    width: 30px;
    height: 30px;
    margin-left: auto;
    border: none;
    border-radius: 999px;
    font-weight: 600;
}

dialog div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

dialog form{
    display: flex;
    flex-direction: column;
}

dialog form input{
    height: 40px;
    border-radius: 15px;
    padding: 0 10px;
    border: solid 1px #dadada
}

dialog form input:first-of-type{
    margin-bottom: 20px;
}

dialog form #submitBtn{
    border: none;
    background-color: #dadada;
    border-radius: 50px;
    padding: 10px;
}

dialog form #userStatus{
    height: 40px;
    margin-bottom: 130px;
    border-radius: 15px;
    padding: 0 10px;
    border: solid 1px #dadada
}

.buttonContainer{
    display: grid;
    place-items: center;
    padding: 30px 0;
}

.addBookButton{
    padding: 20px 30px;
    border-radius: 999px;
    border: none;
    background-color: #dadada;
    transition: 0.25s;
}

.addBookButton:hover{
    background-color: #c8c8c8;
}

.bookContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px 60px 30px;
    gap: 30px;
}

.book{
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 25px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.book h3{
    font-size: 28px;
    font-weight: 600;
    max-height: 100px;
    overflow: hidden;
}

.book div:last-of-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.book button{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    transition: 0.25s;
}

.book #readStateBtn:hover{
    background-color: #00d904;
}

.book #unreadStateBtn:hover{
    background-color: #bb0000;
}

.book .deleteButton:hover{
    background-color: #bb0000;
}

@media only screen and (max-width: 850px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav h1{
        margin: 0;
    }
}