:root{
    --body-bg-colour: #050505;
    --font-colour-one: #FFFFFF;
    --font-colour-two: #FF0000;

    --colour-one: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    color: var(--font-colour-one);
    background-color: var(--body-bg-colour);
    overflow-x: hidden;
}

nav{
    height: 50px;
    margin: 0 50px;
    background-color: var(--body-bg-colour);
    border-bottom: 2px solid var(--colour-one);

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav div{
    display: flex;
    align-items: center;
}

nav img{
    margin: 0 10px;
}

nav h3{
    font-weight: 700;
}

nav ul{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul div{
    margin-left: 50px;
    cursor: pointer;
}

nav ul div img{
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

nav button{
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background: none;
	color: var(--font-colour-one);
	border: none;
	outline: none;
    transition: 0.2s linear;
    cursor: pointer;
}

nav .active button{
    transition: 0.2s linear;
    color: var(--font-colour-two);
}

nav .active img{
    filter: brightness(0) saturate(100%) invert(16%) sepia(53%) saturate(6246%) hue-rotate(355deg) brightness(103%) contrast(126%);
}

.transitionContainer{
    position: relative;
}

#transitionDiv{
    position: absolute;
    width: 100vw;
    max-width:100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #FF0000;
    z-index: 3;
}

@keyframes slidein {
    0%{
        transform: translateX(0%);
    }
    40%{
        transform: translateX(100%);
    }
    60%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(200%);
    }
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    padding: 100px 0;
    border-top: 2px solid var(--colour-one);
    font-weight: 300;

    display: flex;
    align-items: center;
}

footer div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul{
    list-style-type: none;
}

footer li{
    margin: 20px 0;
}

footer p{
    text-align: center;
}

footer .links-div{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

footer .links-div a{
    cursor: pointer;
}

footer .follow-us-div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .follow-us-div a{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

footer .follow-us-div div{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dashesH1{
    margin-top: 75px;
    text-align: left;
    font-weight: 700;
    width: 250px;
}

.solidH1{
    font-size: 64px;
    font-weight: 700;
}

.redOutline{
    color: #00000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff0000;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 5px;
    position: relative;
    transform: translateY(-20px);
}

/*--------------------------------------------------------*/

@media only screen and (max-width: 800px) {
    nav ul div{
        margin-left: 20px;
    }

    footer{
        flex-direction: column;
        gap: 100px;
    }
}

@media only screen and (max-width: 600px) {
    nav{
        flex-direction: column;
        justify-content: end;
        margin: 0;
        height: 150px;
    }

    nav #navbarLogo{
        display: none;
    }

    nav h3{
        height: 75px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul{
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }

    nav ul div{
        margin: 0;
    }

    nav ul div img {
        margin: 0 5px 0 0;
    }

    footer .links-div{
        text-align: center;
        flex-direction: column;
        gap: 0px;
    }

    footer .follow-us-div{
        gap: 30px;
    }

    footer .links-div li:last-of-type{
        margin-bottom: 0;
    }
}